<div class='students'>
</div>
<script id="student" type="text/x-handlebars-template">
  <form class="entry" method="post" action="/<%= weekday %>">
    <h1>{{name}}</h1>
    <div class='left'>
      <input type="hidden" name="github_id" value="{{github_user_id}}">
      <label>
	<input type="radio" name="status" value="present" {{present}}>
	Present
      </label>
      <label>
	<input type="radio" name="status" value="tardy" {{tardy}}>
	Tardy
      </label>
      <label>
	<input type="radio" name="status" value="absent" {{absent}}>
	Absent
      </label>
    </div>
  </form>
</script>