body{
  max-width:40em;
  margin:auto;
  padding:1em;
  font-family:"Helvetica Neue", sans-serif;
}
nav img{
  display:inline-block;
  width:50px;
}
nav ul{
  list-style:none;
  padding:0;
}
nav li a{
  display:table;
}
nav li a *{
  display:table-cell;
  vertical-align:middle;
}

h1 a{
  letter-spacing:-.05em;
  text-decoration:none;
  color:inherit;
  border-bottom:1px dotted #000;
}

.students form{
  padding:1em ;
  border-bottom:1px solid #ddd;
}
.students form:nth-of-type(2n){
  background:#efefef;
}
.students form:after{
  content:" ";
  display:table;
  clear:both;
}
.students form h1{
  float:left;
  margin:0;
  font:inherit;
  font-weight:bold;
}
.students .left{
  float:right;
}
.completed{
  opacity:.25
}
.students{
  margin-top:1em;
}
.students form {
  position:relative;
  padding-left:70px;
}
.students .avatar{
  left:.25em;
  top:0;
  position:absolute;
  width:50px;
}

@media all and (max-width:40em){
  form.entry{
    padding-top:0;
    padding-bottom:.5em;
  }
  .students .left{
    float:left;
  }
  label{
    font-size: .8em;
  }
}
